.list-songs {
  @include flex_col;
  gap: 20px 0;

  .popup {
    position: fixed;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 50;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font: {
      size: 20px;
      weight: 600;
      style: italic;
    }
    color: $pink;

    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  .song {
    display: flex;
    gap: 0 20px;
    padding: 15px;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: white;
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
      transform: translateY(-10px);
      .main-content {
        .detail {
          .name {
            color: $red;
          }
        }
        .option {
          .btn {
            color: $red;
          }
        }
      }
    }
    @include img_style(80px, 5px);

    &.active {
      background: white;
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
      .main-content {
        .detail {
          .name {
            color: $red;
          }
        }
        .option {
          .btn {
            color: $red;
          }
        }
      }
    }

    .main-content {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 120px);

      .detail {
        .name {
          font: {
            size: 20px;
            weight: 600;
          }
          color: $black;
          transition: 0.3s;
        }
        .singer {
          font-size: 16px;
          color: $black;
        }
      }
      .option {
        @include flex_col;
        align-items: center;
        gap: 10px 0;
        .btn {
          cursor: pointer;
          color: $black;
          transition: 0.3s;
          svg {
            font-size: 20px;
          }
          &.play {
            svg {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list-songs {
    .song {
      gap: 0 10px;
      padding: 10px;
      @include img_style(60px, 5px);

      .main-content {
        width: calc(100% - 70px);
        .detail {
          .name {
            font: {
              size: 16px;
              weight: 600;
            }
          }
          .singer {
            font-size: 14px;
          }
        }
        .option {
          .btn {
            svg {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
