.list-songs {
  @include flex_col;
  gap: 20px 0;

  .song {
    display: flex;
    gap: 0 20px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
    &:hover {
      background: $light-pink;
    }
    @include img_style(100px, 5px);

    &.active {
      background: $light-pink;
    }

    .main-content {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 120px);

      .detail {
        .name {
          font: {
            size: 20px;
            weight: 600;
          }
          color: $light-blue;
        }
        .singer {
          font-size: 16px;
          color: $black;
        }
      }
      .option {
        @include flex_col;
        align-items: center;
        gap: 10px 0;
        .btn {
          cursor: pointer;
          color: $red;
          svg {
            font-size: 20px;
          }
          &.play {
            svg {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
