.search-page {
  @include flex_col;
  gap: 20px 0;

  h2 {
    font: {
      size: 30px;
    }
    color: $black;

    span {
      color: $red;
    }
  }
  .cover {
    @include flex_col;
    gap: 20px 0;
    .title {
      font: {
        size: 24px;
        weight: 600;
        style: italic;
      }
      color: $red;
    }
  }
}

@media (max-width: 767px) {
  .search-page {
    gap: 10px 0;
    h2 {
      font-size: 25px;
    }
    .cover {
      gap: 10px 0;
      .title {
        font-size: 20px;
      }
    }
  }
}
