$pink: #ff569a;
$red: #ff1070;
$black: #585858;
$white: #fff;
$light-pink: #ff569a45;
$light-blue: #45458e;

@mixin flex_col {
  display: flex;
  flex-direction: column;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
