* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 30px;
}
