@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;0,800;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 30px;
  min-height: calc(100vh - 170px);
}

@import "./variable";
@import "./app";
@import "./sidebar";
@import "./home";
@import "./header";
@import "./listSong";
@import "./topsong";
@import "./listTopSong";
@import "./pagination";
@import "./playBar";
@import "./control";
